<IfModule mod_rewrite.c>
    RewriteEngine On

# Do not route missing asset requests through cake 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 
# This is an exception because they are generated through cake 
RewriteCond %{REQUEST_FILENAME} !img/pictures/ 
RewriteRule ^/?((img|js|css|swf)/.*)$ empty [L] 

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
